@import url("https://fonts.googleapis.com/css2?family=Belleza&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Belleza", sans-serif;
}
h3 {
  margin-bottom: 1rem;
  font-family: "Belleza", sans-serif;
  font-weight: 100;
  font-size: 28px;
}
h5 {
  margin-top: 1rem;
}
.wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 3.5rem 0;
}
.d-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
img {
  width: 100%;
}

/* NAV STYLES */
.Navbar {
  min-height: 10vh;
}
.Navbar .brand {
  width: 200px;
}
.Navbar .brand img {
  width: 100%;
}
.Navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.93rem 1.875rem;
}
.Navbar .nav-links ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.Navbar .nav-links li {
  margin: 0 3rem;
  font-family: "Belleza", sans-serif;
}
/* END OF NAV */
/* HERO STYLING */
.Hero {
  width: 100%;
  height: 85vh;
  background: url(./images/hero-page.png);
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.Hero .hero-content {
  width: 40%;
  margin: 0 auto;
  position: absolute;
  top: 42%;
  left: 37%;
  color: #fff;
}
.Hero .hero-img img {
  width: 100%;
}
.Hero .hero-img {
  position: relative;
}
.Hero .hero-img {
  position: absolute;
  top: 10%;
}
.Hero h4,
.Hero h5 {
  font-size: 2rem;
  font-weight: 200;
  font-family: "Belleza", sans-serif;
}
.Hero h5 {
  font-size: 1.3rem;
  margin-top: 1rem;
}
/* ABOUT */
.About {
  background-color: #000;
}
.About div {
  color: #fff;
  width: 70%;
  margin: 0 auto;
  padding: 3.6rem 0;
}
.About div h3,
.About div p {
  margin-bottom: 1rem;
  font-family: "Belleza", sans-serif;
  font-weight: 100;
  font-size: 1.7rem;
}
.About div p {
  font-size: initial;
}
/* END OF ABOUT */
/* SERVICES */
.Services .wrapper {
  width: 70%;
  margin: 0 auto;
}
.Services .wrapper h3 {
    font-size: 28px;
}
.Services .wrapper h4 {
    text-transform: uppercase;
    font-size: 16px;
}
.Services .text-block {
    margin: 2rem 0;
}
.Services .d-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Services .d-grid ul {
    list-style: none;
    margin-top: 0.8rem;
}
.Services .d-grid li {
    line-height: 1.9;
}
/* END OF SERVICES */
/* WORKS STYLING */
.Works {
  background: #000;
  color: #fff;
}
.Works .img-block, .Works .text-block {
  width: 100%;
}
.assana-bg {
  background-color: rgb(140, 183, 202);
}
.mdg-bg {
  background-color: rgb(24, 35, 56);
}
.wimp-bg {
  background-color: rgb(255, 193, 7);
}
.projectify-bg {
  background-color: rgb(62, 62, 62);
}
.marcomm-bg {
  background-color: rgb(0,0,0);
}
